table {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    padding: 2px 5px;
    border: 1px solid black;
}

td {
    padding: 2px 5px;
    border: 1px solid black;
}

thead {
    background: #ddd;
}

table#results.js-sort-0 tbody tr td:nth-child(1),
table#results.js-sort-1 tbody tr td:nth-child(2),
table#results.js-sort-2 tbody tr td:nth-child(3),
table#results.js-sort-3 tbody tr td:nth-child(4),
table#results.js-sort-4 tbody tr td:nth-child(5),
table#results.js-sort-5 tbody tr td:nth-child(6),
table#results.js-sort-6 tbody tr td:nth-child(7),
table#results.js-sort-7 tbody tr td:nth-child(8),
table#results.js-sort-8 tbody tr td:nth-child(9),
table#results.js-sort-9 tbody tr td:nth-child(10),
table#results.js-sort-10 tbody tr td:nth-child(11),
table#results.js-sort-11 tbody tr td:nth-child(12),
table#results.js-sort-12 tbody tr td:nth-child(13),
table#results.js-sort-13 tbody tr td:nth-child(14),
table#results.js-sort-14 tbody tr td:nth-child(15) {
    background: #dee;
}

/* Table for three sub-tasks */
#results {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
}

/*table tile*/
#results th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    background-color: var(--UCLA-darkblue);
    color: white;
}

#results td {
    border: 1px solid #ddd;
    padding: 8px;
}

#results tr:nth-child(even) {
    background-color: #f5f5f5;
}

#results tr:hover {
    background-color: #ddd;
}

.js-sort-number:hover {
    text-decoration: underline;
    cursor: pointer;
}

.best-score-text {
    color: #C6011F
    /* color: #3457D5 */
}
